.personData {
    padding: 25px;
    display: flex;
    align-items: flex-start;
}

.imgAvatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.name {
    font-size: 30px;
    margin: 0;
}

.inputFile {
    visibility: hidden;
    position: absolute;
    width: 30px;
    height: 30px;
}

.inputFileLabel {
    position: absolute;
}

.updatePhotoIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 170px;
    left: 170px;
    cursor: pointer;
    fill: #274C77;
}

.updatePhotoIcon:hover {
    fill: #a96b1a;
}

.profileWrapper {
    margin-left: 35px;
}

.status {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.statusIcon {
    fill: #274C77;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 3px;
}

.statusIcon:hover {
    fill: #a96b1a;
}

.aboutMeWrapper {
    display: flex;
    flex-direction: column;
}
