.personData {
    padding: 25px;
    position: relative;

}

.imgAvatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
    position: relative;
    /*margin-bottom: -100px;*/
    /*top: -100px;*/
    /*float: left;*/
}

.name {
    font-size: 30px;
    margin: 0;
}

.age {
    font-size: 20px;
}

.nameWrapper {
    margin-left: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.status {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.statusIcon {
    fill: #274C77;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 3px;
}

.statusIcon:hover {
    fill: #a96b1a;
    /*box-shadow: 0 0 5px 0 #274C77;*/
}
