.pagesWrapper {
    display: flex;
    align-items: center;
    padding: 15px;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.numberPage,
.btn {
    background-color: var(--paginator-btn-main-color);
    padding: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 1px;
    box-shadow: 0 1px 1px var(--paginator-btn-shadow-color);
}

.btn {
    border: none;
    height: 29px;
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.numberPage:not(.currentPage):hover,
.btn:hover {
    background-color: var(--paginator-btn-hover-main-color);
    box-shadow: none;
    color: #ffffff;
}

.numberPage:not(.currentPage):active,
.btn:active {
    background-color: var(--paginator-btn-active-main-color);
    color: #ffffff;
    box-shadow: none;
}

.currentPage {
    background-color: var(--paginator-btn-current-color);
    box-shadow: none;
    color: #ffffff;
    font-weight: bold;
    cursor: auto;
}
