.wrapper {
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.textarea {
    box-sizing: border-box;
    /*width: 80%;*/
    height: 50px;
    resize: none;
    border-radius: 5px;
    padding: 5px 7px;
    overflow: hidden;
}

.textarea:focus {
    outline: none;
}

.btnSend {
    /*width: 70px;*/
    height: 56px;
    margin-left: 1%;
}
