.messageWrapper {
    margin-bottom: 10px;
}

.message {
    width: max-content;
    max-width: 70%;
    display: flex;
    align-items: end;
}

.myMessage {
    margin-left: auto;
}

.friendMessage {

}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.myMessage .avatar {
    order: 2;
    margin-left: 5px;
}

.text {
    padding: 3px;
    border-radius: 5px;
    word-wrap: break-word;
    background-color: var(--message-friend-text);
}

.myMessage .text {
    background-color: var(--message-my-text);
}

.time {
    width: max-content;
}

.myMessage + .time {
    margin-left: auto;
}