.header {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--header-color);
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 40px;
}

.header img {
    width: 130px;
    height: auto;
    object-fit: cover;
}

.login {
    float: right;
}