.sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--sidebar-color);
}

.sidebar ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar .active {
    color: chocolate;
}

a:visited {
    color: inherit;
}
