.postsList {
    margin: 0;
    padding: 20px;
    list-style: none;
}

.postItem {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--post-color);
}

.postItem_mainWrapper {
    display: flex;
    align-items: flex-start;
}

.postItem_avatarNameWrapper {
    display: flex;
    flex-direction: column;
}

.postItem_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postItem_userName {
    max-width: 80px;
    font-size: 10px;
    margin-bottom: 10px;
}

.postItem_text {
    margin-left: 20px;
}

.postItem_likes {
    display: flex;
    width: 50px;
    margin: 5px auto;
    align-items: center;

}

.likesIcon {
    color: red;
}
.likesCount {
    margin-left: 10px;
}

.form_post_message {
    margin-bottom: 20px;
}
