.dialogsWrapper {
    display: flex;
    height: 100%;
    max-width: 1200px;
    /*width: max-content;*/
}

.dialogsList {
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 20%;
}

.messagesWrapper {
    margin-left: 10px;
    background-color: var(--messages-wrapper-color);
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.messagesSend {
    background-color: var(--messages-send-color);
    height: 100px;
    margin-top: auto;
}



